#username, #password, #login, #signup {
  margin: 0 auto;
  min-width: 500px;
  max-width: 500px;
}

#login {
  background: yellow;
}

#signup {
  height: 46px;
  font-size: 18px;
}

#container {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
}

#alert, #success {
  position: absolute;
  right:5%;
  bottom:5%;
  width: 90%;
  margin: 0 auto;
}

.fancy {
  line-height: 0.5;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 1px;
  border: 1px solid black;
  top: 0;
  width: 200px;
}
.fancy span:before {
  right: 100%;
  margin-right: 10px;
}
.fancy span:after {
  left: 100%;
  margin-left: 10px;
}
