#username, #password, #login, #signup {
  margin: 0 auto;
  min-width: 500px;
  max-width: 500px;
}

#login {
  background: yellow;
}

#signup {
  height: 46px;
  font-size: 18px;
}

#container {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
}

#alert, #success {
  position: absolute;
  right:5%;
  bottom:5%;
  width: 90%;
  margin: 0 auto;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}
