<span class="pull-left" id="logo" >
    <a [routerLink]="['/events']" id="home-link">
        Awesome events
    </a>
</span>
<ul class="nav nav-pills pull-right" *ngIf="isAuthenticated()">
    <li role="presentation" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/events']" style="padding: 10px 30px 10px 30px;">
            Events
        </a>
    </li>
    <li role="presentation" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/events','add']" style="padding: 10px 30px 10px 30px;">
            Add Event
        </a>
    </li>
    <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/invites']" style="padding: 10px 30px 10px 30px;">
            Invites
        </a>
    </li>
    <li class="dropdown" routerLinkActive="active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a [routerLink]="['/user']">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a style="cursor: pointer" (click)="logout()">Logout</a></li>
        </ul>
    </li>
</ul>
