<span class="pull-left" id="logo" >
    <a [routerLink]="['/events']" id="home-link">Awesome Events</a>
</span>

<ul class="nav nav-pills pull-right" *ngIf="isAuthenticated()">
    <li role="presentation" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/events']"class="header-link">
            Events
        </a>
    </li>
    <li role="presentation" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/events','add']" class="header-link">
            Add Event
        </a>
    </li>
    <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/invites']" class="header-link">
            Invites
        </a>
    </li>
    <li class="dropdown" routerLinkActive="active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a [routerLink]="['/user']">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="log-out" (click)="logout()">Log out</a></li>
        </ul>
    </li>
</ul>


