<div id="container">
    <div id="img">
        <img [src]="image.value" height="400" width="400">
    </div>
    <div id="form">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div>
                <label for="title">Name of event</label>
                <input type="text"
                       id="title"
                       name="title"
                       class="form-control"
                       [ngModel]="event?.title"
                       required
                       >
            </div>
            <div>
                <label for="imageURL">Image URL</label>
                <input type="text"
                       id="imageURL"
                       name="imageURL"
                       class="form-control"
                       [(ngModel)]="imageURL"
                       #image>
            </div>
            <div>
                <label for="description">Description</label>
                <textarea
                    type="text"
                    id="description"
                    name="description"
                    class="form-control"
                    [ngModel]="event?.description"
                    required
                    >
                </textarea>
            </div>
            <div>
                <label for="address">Address</label>
                <input type="text"
                       id="address"
                       name="address"
                       class="form-control"
                       [ngModel]="event?.address"
                       required
                       >
            </div>
            <br>
            <div>
                <label for="startDate">Start</label>
                <input
                    type="datetime-local"
                    id="startDate"
                    name="startDate"
                    class="form-group"
                    [ngModel]="startDate | date:'yyyy-MM-ddTHH:mm'"
                    required
                >
                    <!--(ngModelChange)="startDate = $event"-->
            </div>
            <div>
                <label for="endDate">End</label>
                <input
                    type="datetime-local"
                    id="endDate"
                    name="endDate"
                    class="form-group"
                    [ngModel]="endDate  | date:'yyyy-MM-ddTHH:mm'"
                    required
                >
            </div>
            <div class="checkbox">
                <label for="isPublic">
                <input type="checkbox"
                       id="isPublic"
                       name="isPublic"
                       ngModel
                       [checked]="!event?.isPublic"
                       (change)="togglePublic()"
                       >
                Private event </label>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

