<h1>{{ title }}</h1>
<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="eventTitle">Name of event</label>
        <input type="text"
               id="eventTitle"
               class="form-control"
               formControlName="title"
               >
    </div>
    <div>
        <img [src]="imageURL.value" class="img-responsive">
    </div>
    <div>
        <label for="description">Image URL</label>
        <input type="text"
               id="imageURL"
               class="form-control"
               formControlName="imageURL"
               #imageURL>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea
            type="text"
            id="description"
            class="form-control"
            formControlName="description"
            >
        </textarea>
    </div>
    <div class="form-group">
        <label for="address">Place</label>
        <input type="text"
               id="address"
               class="form-control"
               formControlName="address"
               >
    </div>

    <div class="form-group">
        <label for="start">Start</label>
        <input type="number"
               id="start"
               class="form-control"
               formControlName="start"
               >
    </div>
    <div class="form-group">
        <label for="end">End</label>
        <input type="number"
               id="end"
               class="form-control"
               formControlName="end"
               >
    </div>
    <div class="radio" *ngFor="let g of isPublic">
        <label>
            <input type="radio"
                   id="isPublic"
                   class="form-control"
                   formControlName="isPublic"
                   >
            {{g}}
        </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">Submit</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
</form>
