input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

img{
    object-fit: cover;
    height: 400px;
    width: 400px;
    display:inline;
}
#form {
    display:inline;
}
