/*
 * The section is styled because the master layout is weird for some reason!
 */
section {
    max-width: 750px;
    height: auto;
    box-sizing: border-box;
}

#event-cover-image {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

.detail-section .detail-header {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.detail-section .detail-content {
    font-size: 12px;
    margin-bottom: 10px;
}

.detail-section .detail-content span {
    font-style: italic;
    font-weight: bold;
}
