<section>

    <img id="event-cover-image" *ngIf="event.imageURL.length > 1" src="{{event.imageURL}}">

    <h2>{{event.title}}</h2>

    <div>
        <p *ngFor="let user of event.organizers">
            <em>Hosted by: <br/>{{user.getUsername()}}</em>
        </p>
    </div>

    <div *ngIf="hasCurrentUserInvitePending" id="event-invitation-pending">
        <div>
            <span>Respond to the invitation</span>
        </div>
        <div>
            <a (click)="onAcceptInvitation()" class="btn btn-success">Accept</a>
            <a (click)="onDeclineInvitation()" class="btn btn-danger">Decline</a>
        </div>
    </div>

    <div class="event-details">

        <div class="detail-section">
            <div class="detail-header">Date & Time</div>
            <div class="detail-content"><b>From:  </b> {{event.start  | date:'HH:mm, dd-MM-yyyy'}} <br/><b> To:  </b> {{event.end | date:'HH:mm, dd-MM-yyyy'}}</div>
        </div>

        <div class="detail-section">
            <div class="detail-header">Address</div>
            <div class="detail-content">{{event.address}}</div>
        </div>

        <div class="detail-section">
            <div class="detail-header">Description</div>
            <div *ngIf="event.description.length > 1; else noDesc" class="detail-content">{{event.description}}</div>
        </div>

        <ng-template #noDesc><i>The event has no description</i></ng-template>

    </div>

    <div *ngIf="isCurrentUserAttending">
        <button (click)="(onDeclineInvitation())" class="btn btn-danger">Cancel attendance</button>
    </div>

    <div *ngIf="isCurrentUserOrganizer">
        <ul id="event-admin-panel">
            <li>
                <a [routerLink]="['/events', event.id, 'edit']" class="btn btn-primary">Edit</a>
            </li>
            <li>
                <a [routerLink]="['/events', event.id, 'invitations']" class="btn btn-primary">Invite people</a>
            </li>
            <li role="separator"></li>
            <li>
                <a (click)="deleteEvent()" class="btn btn-danger">Delete</a>
            </li>
        </ul>
    </div>

</section>
