#event-info:hover {
    text-decoration: none !important;
}

.btn{
    margin: 0px 8px 8px 8px;
}

img{
    padding: 8px;
    object-fit: cover;
    height: 300px !important;
}

.accepted {
    border: 2px solid greenyellow;
}
