<!--
<a class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{event.name}}</h4>
    <p class="list-group-item-text">{{event.description}}</p>
  </div>
  <span class="pull-right">Hello there</span>
</a>
-->
<a [routerLink]="event.getId()">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://doubletree3.hilton.com/resources/media/dt/BWIBADT/en_US/img/shared/full_page_image_gallery/main/dh_meetingroom_6_677x380_FitToBoxSmallDimension_Center.jpg" alt="...">
        <div class="caption">
          <h3>{{event.name}}</h3>
          <p>{{event.description}}</p>
          <!--<p><a href="#" class="btn btn-danger" role="button">Don't ...</a> <a href="#" class="btn btn-default" role="button">... click me</a></p> -->
        </div>
      </div>
    </div>
</a>
