<div class="user">

    <div id="left-box">
        <img id="profile-image" align="top" src="https://yt3.ggpht.com/-_IXzYFNWU8U/AAAAAAAAAAI/AAAAAAAAAAA/6tXWVmD0E64/s900-c-k-no-mo-rj-c0xffffff/photo.jpg">
        <div id="info">
            <table id="infotable">
                <tr *ngFor="let fieldname of fields; let i = index">
                    <td class="field">{{fieldname}}</td>
                    <td align="right">{{user[i]}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="centerform">

        <h1>Edit your information</h1>

        <form (ngSubmit)="onSubmit()" #f="ngForm">

            <div class="form-group">
                <label for="firstname">First name</label>
                <input class="form-control" id="firstname" #name="ngModel" [(ngModel)]="user[0]" required type="text" name="firstname">
            </div>

            <div class="form-group">
                <label for="lastname">Last name</label>
                <input class="form-control" id="lastname" #name="ngModel" [(ngModel)]="user[1]" required type="text" name="lastname">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" #name="ngModel" [(ngModel)]="user[2]" required maxlength="38" type="email" name="email" email>
            </div>

            <input type="submit" value="Opdater" class="btn btn-primary" [disabled]="!f.valid">


        </form>

    </div>

</div>

<div class="alert alert-success alert-dismissible fade in" role="alert" id="success" [ngClass]="{'hidden':!showGreenAlert}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()"><span aria-hidden="true">&times;</span></button>
    <strong> {{ alertTitle }} </strong> {{ alertMessage }}
</div>


